Gitblit <gitblit@localhost>     Gitblit <gitblit@localhost>

Grigory Rondalev <grigory.rondalev@saritasa.com>        <grigory.rondalev@saritasa.com>
Grigory Rondalev <grigory.rondalev@saritasa.com>        <g.rondalev@artsofte.ru>

Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <petryaev@saritasa.com>
Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <konstantin.petryaev@saritasa.com>
Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <numminorihsf@gmail.com>

Roman Cherednikov <rcherednikov@saritasa.com>  <rcherednikov@saritasa.com>
