Andrey Komin <andrey.komin@saritasa.com>     <andrey.komin@saritasa.com>

Eldar Giniyatov <eldarginiyatov@saritasa.com> <eldarginiyatov@saritasa.com>

Gitblit <gitblit@localhost>     Gitblit <gitblit@localhost>

Grigory Rondalev <grigory.rondalev@saritasa.com>        <grigory.rondalev@saritasa.com>
Grigory Rondalev <grigory.rondalev@saritasa.com>        <g.rondalev@artsofte.ru>

Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <petryaev@saritasa.com>
Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <konstantin.petryaev@saritasa.com>
Konstantin Petryaev <konstantin.petryaev@saritasa.com>  <numminorihsf@gmail.com>

Maxim Romin <maxim.romin@saritasa.com>  <maxim.romin@saritasa.com>

Roman Cherednikov <rcherednikov@saritasa.com>  <rcherednikov@saritasa.com>

Nhon <laihuunhon@gmail.com>  <laihuunhon@gmail.com>
Nhon Lai <nhon.huu.lai@saritasa.com>  <nhon.huu.lai@saritasa.com>
